.auth-section {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 50px;
    overflow: hidden;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    min-height: 750px;
    z-index: 1;
}

@media (max-width: 740px) {
    .auth-section {
        background-image: none !important;
    }
}