.call
{
    
    color:  rgba(255, 255, 255, 0.332);
    text-align: center;
    

    
}
.liens_footer
{
    
    color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}


