.PMBP {
    border-bottom: none;
    padding-bottom: 0;
    background: transparent;
    color: gray;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
    letter-spacing: 0 !important;
}

.FooterWrapper {
 margin-top:0;
 

}



.site-footer {
    margin: 0 auto;
    padding-top: 0;
    width: 90%;
   
   
}

.footer_top {
    margin: 0 0 30px;
    padding: 0;
}


.footerlink {
    color: #737373;
    text-decoration: none;
    background-color: transparent;
    
}



.footer_link_structural {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 2000px;
    margin: 0;
    padding: 0;
   
  
    align-items: center;
    justify-content: center;
}

.Footerlinkitem {
    box-sizing: border-box;
    display: inline-flex;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
    position:relative;
    text-align:justify;
}
.footer_country {
    font-size: 13px;
    margin-top: 24px;
    padding: 0;
    
    
    position:relative;
    text-align:justify;
    
    
}

@media (min-width: 550px ) and (max-width:740px){

   

    .Footerlinkitem {
        
        width:5%;
        padding:5px;
        width:33%;
    }




}



  
    
    




