footer {
    background-color:black;
  
    

}
.titre {
    padding: 25px 100px;
    color: gray;
}
<<<<<<< HEAD
.liens_footer
{
    
    color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}


=======


   

 .row 
    {
        
       
       margin: 10px;
       display:flex;
       
      
      justify-content:space-around;
        
        
        
        
       
    }

 a
 {
     color:gray;
     text-align:center
 }
    

>>>>>>> b9bec252637ee6b2748dee1f792b2f4ecd120fed
