.bg-header {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    padding: 30px 50px;
    overflow: hidden;
}

.bg-fade {
    z-index: 0;
    position: absolute;
    /* background: rgba(0,0,0,.5); */
    background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .7) 100%), radial-gradient(50% 100%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .7) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-header h1 {
    position: relative;
    z-index: 1;
    max-width: 640px;
    margin: 0 auto;
    color: white;
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
}

.bg-header h2 {
    position: relative;
    z-index: 1;
    max-width: 640px;
    margin: 1rem auto;
    color: white;
    font-size: 1.625rem;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 550px) {
    .bg-header {
        padding: 15px 20px;
    }

    .bg-header h1 {
        font-size: 1.75rem;
    }

    .bg-header h2 {
        font-size: unset;
    }
}