.faq-list-item {
    font-size: 1.625rem;
    /* padding: 0.25em 0.5em; */
    /* max-width: 100%; */
    width: 100%;
    border: 0;
    display: block;
    text-align: left;
    background: #303030;
    cursor: pointer;
    list-style-type: none;
    margin: 8px auto;
}

.faq-list-item-question {
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    /* width: 100%; */
}

.faq-list-item-question-open,
.faq-list-item-question-closed {
    overflow: hidden;
    fill: #fff;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    width: 1em;
    transform: translate(-0.025em,-0.4em);
    transition: .3s smooth;
}

.faq-list-item-question-closed {
    transform: translate(0,-50%) rotate(-45deg);
}



@media (max-width: 550px) {
    .faq-list-item {
        /* margin: 1.25em auto; */
        font-size: 1.125rem;
    }
}