@font-face {
  font-family: "Netflix_Bold";
  src: local("NetflixSans_W_Md"),
    url("./../fonts/NetflixSans_W_Md.woff2") format("woff");
}

@font-face {
  font-family: "Netflix_Medium";
  src: local("NetflixSans_W_Rg"),
    url("./../fonts/NetflixSans_W_Rg.woff2") format("woff");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}