.not-found {
    background: rgba(0, 0, 0, .18);
    color: #fff;
    font-size: 0.85vw;
    line-height: 1.2;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 68px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.not-found-header {
    background-color: #000;
    background-color: rgba(0, 0, 0, .97);
    height: 68px;
    left: 0;
    padding: 0 45px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
}

.not-found-logo {
    left: 40px;
    position: absolute;
    top: 22px;
}

.not-found-link {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    color: transparent;
    font-size: 25px;
    overflow: hidden;
}

.not-found-content {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 2 0;
    flex-direction: column;
    /* margin: 0 1em; */
    position: relative;
    text-align: center;
}

.not-found-content::before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .2) 45%, rgba(0, 0, 0, .1) 55%, transparent 70%);
    bottom: -10vw;
    content: "";
    left: 10vw;
    position: absolute;
    right: 10vw;
    top: -10vw;
    z-index: 0;
}

.not-found-content-message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60vh;
    text-align: center;
}

.not-found-content-title {
    color: inherit;
    margin-top: 0;
    text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
}

.not-found-content h1 {
    font-size: 8.2em;
    font-weight: 700;
    margin-bottom: 2vh;
    z-index: 1;
}

.not-found-content-body {
    margin: 0 auto;
    padding-bottom: 2em;
    width: 50vw;
    z-index: 1;
}

.not-found-content p {
    margin-top: 0;
    text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
    font-size: 3em;
    font-weight: 300;
}

.not-found-content-button {
    display: inline-block;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.8em 2.4em;
    color: black;
    font-size: 2.4em;
    font-weight: bold;
    word-break: break-word;
    white-space: nowrap;
}

.not-found-content-404 {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 2em;
    height: 10vh;
}

.not-found-content-404 span {
    border-left: 2px solid #e50914;
    font-size: 2.4em;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 2.2em;
    padding: 0 1vw;
}

@media (max-width: 550px) {
    .not-found-content-message {
        height: 60vh;
    }
    
    .not-found-content-body {
        width: 50vw;
    }

    .not-found-content-404 {
        height: 30vh;
    }
}