.genre-container {
    display: flex;
    padding: 0;
}

.genre-section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.genre-item {
    z-index: 2;
    background: none;
    color: blue;
    flex: 0 0 19.7%;
    height: 120px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
    transition: transform 0.3s ease-out 0.1s;
}

.genre-item img{
    z-index: 1;
    position: relative;
    max-height: 100%;
}

.genre-item-text{
    position: absolute;
    color: white;
    background-color: #00000052;
    visibility: hidden;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
}

.genre-item-text:hover{
    visibility: visible;
    cursor: pointer;
}

/* translation -> left for all media-item*/
.genre-container:hover .genre-item {
    transform: translateX(-5%);
}

/* translation -> right for all media-item on the right of the active one  */
.genre-item:hover~.genre-item {
    transform: translateX(5%);
}

/* scale active media-item */
.genre-item:hover {
    transform: scale(1.1) !important;
}

.arrows {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.arrows:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.arrows:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}