.detail-container {
    background-color: #000000;
    margin: auto;
    min-width: 960px;
    max-width: 960px;
    padding: 10px 20px;
}

.detail-content {
    height: 480px;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.detail-background {
    display: flex;
    height: 100%;
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 75%,
            rgb(0, 0, 0) 100%),
        linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 90%,
            rgb(0, 0, 0) 100%);
}

.detail-left {
    background: black;
    width: 25%;
    position: relative;
}

.detail-left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, #000, transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
}

.detail-right {
    width: 75%;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 60%,
            rgb(0, 0, 0) 100%);

}

.detail-content-container {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    padding: 30px
}

.detail-content-container h1 {
    font-size: 1.5rem !important;
}

.detail-content-container p {
    padding: 0 !important;
}

.detail-content-button {
    background-color: #e50914;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 1em;
    border-radius: 3px;
    padding: 8px 16px;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}

.detail-content-button:hover {
    background: #f40612;
}

.detail-hide {
    display: none;
}