.genre-container {
    display: flex;
    padding: 0;
}

.genre-container button{
    border: none;
    background-color: transparent;
    color: white;
    /* opacity: 0.85; */
}

.arrows {
    z-index: 3;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 110px;
    padding: 0 20px;
    transform: scale(1.1);
}

.arrows:nth-of-type(1) {
    position: absolute;
    left: 0;
    background-image: linear-gradient(90deg,
    rgba(0, 0, 0) 0%,
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255,0) 100%);
    
}

.arrows:nth-of-type(2) {
    position: absolute;
    right: 0;
    background-image: linear-gradient(-90deg,
    rgba(0, 0, 0) 0%,
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255,0) 100%);
}

.genre-item {
    z-index: 2;
    background: none;
    flex: 0 0 19.7%;
    height: 120px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
    transition: transform 0.3s ease-out 0.1s;
}

.genre-item img{
    z-index: 1;
    position: relative;
    max-height: 100%;
}

.genre-item-text{
    position: absolute;
    visibility: hidden;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
}

.genre-item-text:hover{
    visibility: visible;
    cursor: pointer;
}

/* translation -> left for all media-item*/
.genre-container:hover .genre-item {
    transform: translateX(-5%);
}

/* translation -> right for all media-item on the right of the active one  */
.genre-item:hover~.genre-item {
    transform: translateX(5%);
}

/* scale active media-item */
.genre-item:hover {
    transform: scale(1.1) !important;
}
